body{
    font-size: 20px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #6C9BD2;
}
header h1{
    font-size: 18px;
    color: #E02C87;
}
header nav{
    float: right;
}
header nav a{
    color: #E02C87;
}
.top-title{
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    color: #000B00;
}
.catch-copy{
    margin: 0 auto;
    text-align: center;
    color: #000B00;
}
.site-entry{
    margin: 0 auto;
}
.site-entry li{
    line-height: 2;
}
.site-entry a{
    text-align: center;
    font-size: 18px;
    color: #000B00;
}
footer{
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: #6C9BD2;
    font-size: 12px;
}