html{
    background: #fff;
}
body{
    font-size: 20px;
}
header{
    background: #6C9BD2;
}
header h1{
    font-size: 18px;
    color: #E02C87;
    float: left;
}
.top-title{
    margin: 0 auto;
    color: #000B00;
}
